<p id="notice"><%= notice %></p>

<h1>Tweets</h1>

<table>

  <thead>
  <tr>
    <th>Body</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <%= render 'form', tweet: @tweet %>

  <tbody>

  <%= turbo_stream_from "tweets" %>
  <%= turbo_frame_tag 'tweets' do %>
    <%= render 'tweets' %>
  <% end %>
  </tbody>

</table>

<%= turbo_frame_tag 'new_tweet' do %>
  <%= render 'new' %>
<% end %>