<p id="notice"><%= notice %></p>

<h1>Rooms</h1>

<%= turbo_stream_from "rooms" %>
<%= turbo_frame_tag "rooms" do %>
  <%= render @rooms %>
<% end %>

<br>

<%= turbo_frame_tag 'room' do %>
  <%= render 'form', room: @room %>
<% end %>